/* set codemirror ide height to 100% of the textarea */
body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.page-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4rem 1fr 2em;
  width: 100%;
  height: 100%;
}

.grammar-container {
  grid-column: 1;
  grid-row: 2;
  padding: 0.25rem;

  /* Establishing minimum sizes here causes the codemirror CSS to work */
  min-height: 0;
  min-width: 0;
}

.status {
  grid-column: 1 / 3;
  grid-row: 3;
  padding: 0.25rem;
}

.input-container {
  grid-column: 2;
  grid-row: 2;
  padding: 0.25rem;

  /* Establishing minimum sizes here causes the codemirror CSS to work */
  min-height: 0;
  min-width: 0;
}

.input-status {
  grid-column: 2;
  grid-row: 3;
  padding: 0.25rem;
}

.results-container {
  grid-column: 3;
  grid-row: 2;
  padding: 0.25rem;

  overflow-y: scroll;
}

.parsed-node {
  margin-left: 1rem;
}

.parsed-error-node {
  color: red;
}

.main-textarea {
  height: 100%;
  width: 100%;
}

.CodeMirror {
  height: 100%;
}
